.conteiner_cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    background-color: var(--bg_grey);
}

.cv {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--blue);
    cursor: pointer;
    transition: all .3s;
}

.cv:hover{
    letter-spacing: .1rem;
    opacity: .8;
}