.conteiner_cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: var(--fondo_gris);
}

.cv {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--azul);
    cursor: pointer;
}