.container_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.description {
    font-size: 2rem;
}

.img_profile {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin: 2rem 0;
    object-fit: cover;
}

.icon {
    width: 4rem;
    margin: 0 .5rem;
}

@media (min-width: 768px) { 
    .title {
        font-size: 3rem;
    }
    
    .description {
        font-size: 2rem;
    }

    .img_profile {
        width: 18rem;
        height: 18rem;
    }
}