/* Estos estilos los añadí porque al aplicar html { font-size: 62.5% } me modifica los estilos que usa Bootstrap */
nav {
    height: 5rem;
}

li, h5 {
    font-size: 2rem;
}

.ac {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

button {
    margin-right: 2rem;
}

.img_profile {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.social_medias {
    margin-top: 5rem;
}

.icon {
    width: 4rem;
    margin: 0 .5rem;
}
