.title {
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 3rem;
	letter-spacing: 0.2rem;
	color: var(--black);
}

.underline::after {
	content: "";
	display: block;
	background-color: var(--secondary);
	height: 8px;
	margin: -1.8rem 0 0 0;
	animation: underline 1s;
}

@keyframes underline {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
