.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.icon {
    width: 4rem;
    margin: 0 .5rem;
    transition: opacity .3s;
}

.icon:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}