.container_technologies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	margin-bottom: 6rem;
	padding: 5rem 0;
	background-color: var(--grey);
}

.subtitle {
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.content {
	margin: 0.5rem 2rem;
	width: 90%;
	max-width: 70rem;
	text-align: center;
}
